<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuanchengwei.filemanagementsystem.mapper.FirefoxDownloadFirefoxBrowserMapper">


    <select id="selectDownloadCompleteBydateAdded"
            resultType="com.xuanchengwei.filemanagementsystem.entity.firefox.FirefoxDownload">
        SELECT
            moz_annos.id || '-' || moz_annos.place_id || '-' || moz_annos.dateAdded AS id,
            moz_annos.id AS moz_annos_id,
            moz_places.id AS moz_places_id,
            moz_annos.dateAdded,
            moz_annos.content,
            moz_places.url,
            moz_places.title
        FROM
            moz_annos,
            moz_places
        WHERE
            moz_annos.place_id = moz_places.id
            AND anno_attribute_id = "1"
            AND moz_annos.dateAdded > #{epochMilli} * 1000
        ORDER BY
            moz_annos.lastModified DESC;
    </select>
</mapper>
